.text-vertical {
  writing-mode: vertical-lr;
  text-align: center;
}
.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-fill {
  width: 100%;
}

.height-fill {
  height: 100%;
}