//个人信息框
.info-box {
  background: url("../images/info-box.png");
  width: 530px;
  height: 143px;
  margin-bottom: 20px;
  position: absolute;
  cursor: pointer;
  //transition: all 0.5s;
  &.active {
    filter: drop-shadow(0 0 20px #537aa7) brightness(1.2);
  }
  &:hover {
    @extend .active;
  }
  &.float {
    opacity: 0.5;
    position: fixed;
    z-index: 100;
    pointer-events: none;
    transition: none;
  }
  .photo {
    top: 22px;
    left: 30px;
    position: absolute;
  }
  .name {
    position: absolute;
    font-size: 28px;
    top: 20px;
    left: 160px;
    width: 128px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .info {
    position: absolute;
    top: 31px;
    left: 300px;
    font-size: 19px;
    height: 25px;
    width: 197px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .job {
    position: absolute;
    top: 61px;
    left: 162px;
    font-size: 19px;
    height: 25px;
    width: 288px;
  }
  .close {
    position: absolute;
    top: 4px;
    right: 13px;
    font-size: 33px;
    cursor: pointer;
  }
  .last-row {
    position: absolute;
    width: 358px;
    height: 33px;
    top: 94px;
    left: 161px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
