//个人信息框
.info-box {
  background: url("../images/info-box.png");
  width: 530px;
  height: 143px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  &:hover {
    //filter: brightness(1.1);
    filter: drop-shadow(0 0 20px #537aa7);
  }
  &.float {
    opacity: 0.3;
    position: fixed;
    z-index: 100;
    pointer-events: none;
  }
  .photo {
    top: 22px;
    left: 30px;
    position: absolute;
  }
  .name {
    position: absolute;
    font-size: 28px;
    top: 20px;
    left: 160px;
    width: 120px;
    height: 40px;
  }
  .info {
    position: absolute;
    top: 31px;
    left: 284px;
    font-size: 19px;
    height: 25px;
    width: 130px;
  }
  .job {
    position: absolute;
    top: 61px;
    left: 162px;
    font-size: 19px;
    height: 25px;
    width: 288px;
  }
  .close {
    position: absolute;
    top: 4px;
    right: 13px;
    font-size: 33px;
    cursor: pointer;
  }
  .last-row {
    position: absolute;
    width: 358px;
    height: 33px;
    top: 94px;
    left: 161px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
