.input {
  border-radius: 3px;
  border: 1px solid #25ade3ba;
  background: transparent;
  box-shadow: 0 0 16px #25ade3;
  color: white;
  padding: 0.5rem 0.8rem;
  margin: 10px;
  display: inline-block;
}
