@import "variable";
@mixin bordered {
  border: 2px solid #1d559a;
  border-radius: 3px;
}
@mixin header {

}
* {
  box-sizing: border-box;
  font-family: '微软雅黑', serif;
}
body {
  margin: 0;
}
img {
  -webkit-user-drag: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  -webkit-user-drag: none;
}
#main_container {
  background: url("../images/bkg.jpg");
  width: 4000px;
  height: 1200px;
  display: flex;
  flex-flow: column;
  opacity: 1;
}

#head {
  height:70px;
  position: relative;
  //background: red;
  //opacity:0.5;
  #head_right_button_group {
    position: absolute;
    right: 15px;
    top: 13px;
    color: white;
    img {
      vertical-align: middle;
    }
    .btn, span{
      margin: 0 7px;
    }
    #plan_name {
      display: inline-block;
      margin-right: 15px;
    }
  }
}

#mid {
  flex:1;
  padding: 20px 20px 0 20px;
  flex-flow: row;
  display: flex;
  justify-content: space-between;
  #mid_col1 {
    @include bordered;
    width: 1370px;
    padding: 10px 18px 16px 17px;
  }
  #mid_col2 {
    @include bordered;
    justify-content: space-between;
    width: 1983px;
    display: flex;
    flex-flow: row;
    padding: 10px 25px 16px 17px;
    [id^=mid_col2_col] {
      width: 377px;
    }
    #mid_col2_col5 {
      height: 429px;
    }
  }
  #mid_col3 {
    @include bordered;
    width: 580px;
    padding-top: 29px;
    color: white;
    #mid_col3_header {
      height: 41px;
      width: 100%;
      display: flex;
      padding-left: 20px;
      justify-content: flex-start;
      align-items: center;
      font-size: $HEADER_FONT_SIZE;
      #mid_col3_header_right {
        width: 355px;
        height: 100%;
        text-align: right;
        .btn {
          margin-left: 7px;
        }
      }
    }
    #mid_col3_body {
      flex: 1;
      width: 100%;
      height: 576px;
      padding: 18px 12px 0 22px;
      #mid_col3_body_list {
        position: relative;
        height: 100%;
      }
    }
  }
}

#foot {
  height: 450px;
  bottom: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 15px 21px 22px 21px;
  #foot_col1 {
    @include bordered;
    width: 682px;
    padding: 4px 9px 0 14px;
    #foot_col1_title_row {
      height: 53px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      #foot_col1_title_box {
        height: 100%;
        width: 248px;
        background: url("../images/title-box.png");
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }
    #chart_container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  #foot_col2 {
    @include bordered;
    width: 665px;
    position: relative;
    color: white;
    #foot_col2_header {
      position: absolute;
      width: 44px;
      top: 25px;
      left: 28px;
      font-size: $HEADER_FONT_SIZE;
    }
    #group_photo {
      position: absolute;
      top: 29px;
      left: 114px;
    }
    #group_name {
      position: absolute;
      top: 39px;
      left: 236px;
      font-size: 22px;
    }
    #group_star {
      color: #42ca83;
      position: absolute;
      top: 77px;
      left: 239px;
      font-size: 22px;
    }
    .legend-box {
      width: 113px;
      height: 60px;
      position: absolute;
      bottom: 22px;
      left: 13px;
      border: 1px solid #353943;
      border-radius: 14px;
      padding-left: 15px;
    }
    #detail_container_left {
      height: 208px;
      width: 299px;
      position: absolute;
      top: 175px;
      left: 97px;
    }
    .row {
      .col-7 {
        padding-left: 16px;
      }
    }
    #detail_container_right {
      height: 177px;
      width: 299px;
      position: absolute;
      top: 174px;
      right: 3px;
    }
  }
  #foot_col3 {
    @include bordered;
    width: 1374px;
    position: relative;
    color: white;
    #foot_col3_header {
      position: absolute;
      width: 44px;
      top: 25px;
      left: 28px;
      font-size: $HEADER_FONT_SIZE;
    }
    #foot_col3_photo_container {
      position: absolute;
      top: 15px;
      left: 110px;
      height: 383px;
      width: 221px;
      color: #e9e9e9;
      @mixin no_break() {
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .name {
        font-size: 27px;
        @include no_break();
      }
      .info1 {
        font-size: 20px;
        @include no_break();
      }
      .info2 {
        font-size: 20px;
        @include no_break();
      }
      .btn {
        width: 102px;
        height: 30px;
        margin-right: 10px;
      }
    }
    #splitter {
      position: absolute;
      left: 763px;
      top: 10px;
    }
    #tree_blue {
      position: absolute;
      bottom: 10px;
      left: 386px;
    }
    #tree_green {
      position: absolute;
      bottom: 10px;
      left: 958px;
    }
    #tree_purple_label_1 {
      position: absolute;
      top: 147px;
      left: 361px;
    }
    #tree_purple_label_2 {
      position: absolute;
      top: 88px;
      left: 404px;
    }
    #tree_purple_label_3 {
      position: absolute;
      top: 27px;
      left: 544px;
    }
    #tree_purple_label_4 {
      position: absolute;
      top: 50px;
      left: 655px;
    }
    #tree_purple_label_5 {
      position: absolute;
      top: 120px;
      left: 724px;
    }
    #tree_purple_label_6 {
      position: absolute;
      top: 136px;
      left: 445px;
    }
    #tree_purple_label_7 {
      position: absolute;
      top: 93px;
      left: 514px;
    }
    #tree_purple_label_8 {
      position: absolute;
      top: 134px;
      left: 560px;
    }
    #tree_purple_label_9 {
      position: absolute;
      top: 152px;
      left: 634px;
    }
    #tree_purple_label_10 {
      position: absolute;
      top: 171px;
      left: 694px;
    }

    #tree_blue_label_1 {
      position: absolute;
      top: 50px;
      right: 38px;
    }
    #tree_blue_label_2 {
      position: absolute;
      top: 87px;
      right: 94px;
    }
    #tree_blue_label_3 {
      position: absolute;
      top: 145px;
      right: 33px;
    }
    #tree_blue_label_4 {
      position: absolute;
      top: 63px;
      right: 305px;
    }
    #tree_blue_label_5 {
      position: absolute;
      top: 63px;
      right: 367px;
    }
    #tree_blue_label_6 {
      position: absolute;
      top: 156px;
      right: 378px;
    }

    #tree_orange_label {
      position: absolute;
      top: 41px;
      right: 201px;
      transform: scale(1.5);
    }

    #tree_grey_label_1 {
      position: absolute;
      bottom: 19px;
      left: 697px;
    }
    #tree_grey_label_2 {
      position: absolute;
      bottom: 19px;
      left: 760px;
    }
    #tree_green_label_1 {
      position: absolute;
      bottom: 24px;
      right: 370px;
    }
    #tree_green_label_2 {
      position: absolute;
      bottom: 25px;
      right: 431px;
    }

    #label_de {
      position: absolute;
      bottom: 18px;
      left: 550px;
      font-size: 35px;
    }
    #label_cai {
      position: absolute;
      bottom: 18px;
      right: 214px;
      font-size: 35px;
    }
    #label_buzu {
      color: #a4a5a8;
      position: absolute;
      bottom: 83px;
      left: 739px;
      font-size: 20px;
    }
    #label_shiyigangwei {
      color: #a4a5a8;
      position: absolute;
      bottom: 96px;
      right: 387px;
      font-size: 20px;
    }
  }
  #foot_col4 {
    @include bordered;
    width: 1184px;
    position: relative;
    color: white;
    #foot_col4_header {
      position: absolute;
      width: 44px;
      top: 25px;
      left: 35px;
      font-size: $HEADER_FONT_SIZE;
    }
    .photo-col {
      width: 106px;
      height: 249px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      &:hover {
        filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.5));
      }
      .photo-col-name {
        font-size: 21px;
      }
      .btn {
        width: 100%;
      }
    }

    #photo_col_left {
      top: 30px;
      left: 117px;
    }
    #photo_col_right {
      top: 30px;
      right: 24px;
    }

    #total_bar_left {
      position: absolute;
      top: 32px;
      left: 229px;
      text-align: right;
    }
    #total_bar_right {
      position: absolute;
      top: 32px;
      right: 137px;
    }
    #img_pk {
      position: absolute;
      top: 23px;
      left: 603px;
    }
    //中部列，包含信息对比的百分比条
    #foot_col_mid_container {
      position: absolute;
      display: flex;
      width: 812px;
      height: 295px;
      top: 100px;
      left: 230px;
      flex-flow: column;
      justify-content: space-between;
      .blue-bar {
        width: 340px;
      }
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        //overflow: hidden;
        .label {
          padding: 3px 5px;
          &:hover {
            filter: drop-shadow(0 0 15px #ffffff);
            background: rgba(255, 255, 255, 0.25);
            border-radius: 5px;
          }
        }
      }
      .col-left {
        width: 353px;
        display: flex;
        justify-content: flex-end;
      }
      .col-right {
        width: 353px;
      }
    }


    .person-detail {
      color: #b1b1b2;
      width: 360px;
    }
    #person_detail_left {
      position: absolute;
      top: 56px;
      left: 230px;
    }
    #person_detail_right {
      position: absolute;
      top: 56px;
      right: 138px;
      text-align: right;
    }
  }
}
