//百分比条
.percent-bar {
  display: inline-block;
  width: 132px;
  height: 21px;
  vertical-align: middle;
  border: 1px solid #0d90cf;
  border-radius: 3px;
  background: linear-gradient(#016ab3, #27b3ea);
  .thumb {
    text-align: right;
    padding-right: 8px;
    width: 50%;
    height: 100%;
    border-radius: 3px;
    background: linear-gradient(#2cd200, #0b3e00);
    line-height: 17px;
  }
}
