.pop-box {
  font-size: large;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.5);
  background: rgba(0,0,0,0.7);
  filter: drop-shadow(0 0 15px #67aaff);
  color: white;
  max-width: 700px;
  table {
    td {
      text-align: center;
      border-left: 1px solid white;
      border-bottom: 1px solid white;;
      white-space: nowrap;
      padding: 0.1rem 1rem;
    }
    td:first-child {
      border-left: 0;
    }
    tr:last-child td {
      border-bottom: 0;
    }
    td:first-child, td:nth-child(2) {
      min-width: 80px;
    }
  }
  ul {
    padding: 0;
    margin: 0 0 15px 0;
    list-style: none;
    li {
      margin-bottom: 7px;
      //text-overflow: ellipsis;
      //white-space: nowrap;
      //overflow: hidden;
      &:before {
        content: " * ";
      }
    }
  }
}