//滚动条美化
.beauty-scroll {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #5F9AFC;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
}

