@import "variable";
//标题前的那根竖线
@mixin shine($color) {
  background: $color;
  filter: drop-shadow(0 0 10px $color);
}
.title-bar {
  &.horizontal {
    width: 100%;
    height: $TITLE_BAR_THICK;
    margin-bottom: $TITLE_BAR_MARGIN;
  }
  &.vertical {
    height: 100%;
    width: $TITLE_BAR_THICK;
    margin-right: $TITLE_BAR_MARGIN;
  }
  &.orange {
    @include shine(#f39800);
  }
  &.red {
    @include shine(#d81e06);
  }
  &.blue {
    @include shine(#1fb3ff);
  }
  &.green {
    @include shine(#42ca83);
  }
}