$CELL_WIDTH : 63px;
$CELL_HEIGHT : 24px;
$CELL_FONT_SIZE : 13px;
$LABEL_BAR_WIDTH : 4px;
$LABEL_BAR_HEIGHT : 15px;
$LABEL_TRIANGLE_LEN : 10px;
$TITLE_BAR_THICK : 10px;
$TITLE_BAR_MARGIN : 20px;
$HEADER_FONT_SIZE : 27px;
