@charset "UTF-8";
/*!
 *  XiaoShanSys-BigScreen by @Lixn Wei : wlx65005@163.com
 */
.text-vertical {
  writing-mode: vertical-lr;
  text-align: center;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-fill {
  width: 100%;
}

.height-fill {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-flow: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.space-content-around {
  justify-content: space-around;
}

.space-content-between {
  justify-content: space-between;
}

.col-1 {
  float: left;
  width: 8.33333%;
}

.col-2 {
  float: left;
  width: 16.66667%;
}

.col-3 {
  float: left;
  width: 25%;
}

.col-4 {
  float: left;
  width: 33.33333%;
}

.col-5 {
  float: left;
  width: 41.66667%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-7 {
  float: left;
  width: 58.33333%;
}

.col-8 {
  float: left;
  width: 66.66667%;
}

.col-9 {
  float: left;
  width: 75%;
}

.col-10 {
  float: left;
  width: 83.33333%;
}

.col-11 {
  float: left;
  width: 91.66667%;
}

.col-12 {
  float: left;
  width: 100%;
}

.text-right {
  text-align: right !important;
}

.text-blue {
  color: #2184c0;
}

.text-green {
  color: #01d406;
}

.text-grey {
  color: #aaa;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: small;
}

.text-mid {
  font-size: medium;
}

.text-large {
  font-size: large;
}

.nowrap {
  white-space: nowrap;
}

.hover-white:hover {
  background: white;
  border-radius: 3px;
}

.bigger, .tree-label:hover {
  transform: scale(1.2);
}

.normal {
  transform: scale(1);
}

* {
  box-sizing: border-box;
  font-family: '微软雅黑', serif;
}

body {
  margin: 0;
}

img {
  -webkit-user-drag: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
               supported by Chrome and Opera */
  -webkit-user-drag: none;
}

#main_container {
  background: url("../images/bkg.jpg");
  width: 4000px;
  height: 1200px;
  display: flex;
  flex-flow: column;
  opacity: 1;
}

#loadingLayer {
  position: absolute;
  height: 1200px;
  width: 4000px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  font-size: 122pt;
  color: #1fb3ffad;
}

#head {
  height: 70px;
  position: relative;
}
#head #head_right_button_group {
  position: absolute;
  right: 15px;
  top: 13px;
  color: white;
}
#head #head_right_button_group img {
  vertical-align: middle;
}
#head #head_right_button_group .btn, #head #head_right_button_group span {
  margin: 0 7px;
}
#head #head_right_button_group #plan_name {
  display: inline-block;
  margin-right: 15px;
}
#head #head_right_button_group #plan_name.active, #head #head_right_button_group #plan_name.info-box:hover, #head #head_right_button_group #plan_name.cell:hover {
  background: #0b6293;
}

#mid {
  flex: 1;
  padding: 20px 20px 0 20px;
  flex-flow: row;
  display: flex;
  justify-content: space-between;
}
#mid #mid_col1 {
  border: 2px solid #1d559a;
  border-radius: 3px;
  width: 1163px;
  padding: 10px 18px 16px 17px;
}
#mid #mid_col1 .table-row {
  margin-bottom: 5px;
}
#mid #mid_col2 {
  border: 2px solid #1d559a;
  border-radius: 3px;
  justify-content: space-between;
  width: 2193px;
  display: flex;
  flex-flow: row;
  padding: 10px 25px 16px 17px;
}
#mid #mid_col2 [id^=mid_col2_col] {
  width: 351px;
}
#mid #mid_col3 {
  border: 2px solid #1d559a;
  border-radius: 3px;
  width: 580px;
  padding-top: 29px;
  color: white;
}
#mid #mid_col3 #mid_col3_header {
  height: 41px;
  width: 100%;
  display: flex;
  padding-left: 20px;
  justify-content: flex-start;
  align-items: center;
  font-size: 27px;
}
#mid #mid_col3 #mid_col3_header #mid_col3_header_right {
  width: 355px;
  height: 100%;
  text-align: right;
}
#mid #mid_col3 #mid_col3_header #mid_col3_header_right .btn {
  margin-left: 7px;
}
#mid #mid_col3 #mid_col3_body {
  flex: 1;
  width: 100%;
  height: 576px;
  padding: 18px 12px 0 22px;
}
#mid #mid_col3 #mid_col3_body #mid_col3_body_list {
  position: relative;
  height: 100%;
}

#foot {
  height: 450px;
  bottom: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 15px 21px 22px 21px;
}
#foot #foot_col1 {
  border: 2px solid #1d559a;
  border-radius: 3px;
  width: 682px;
  padding: 4px 9px 0 14px;
}
#foot #foot_col1 #foot_col1_title_row {
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#foot #foot_col1 #foot_col1_title_row #foot_col1_title_box {
  height: 100%;
  width: 248px;
  background: url("../images/title-box.png");
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#foot #foot_col1 #chart_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#foot #foot_col2 {
  border: 2px solid #1d559a;
  border-radius: 3px;
  width: 665px;
  position: relative;
  color: white;
}
#foot #foot_col2 #foot_col2_header {
  position: absolute;
  width: 44px;
  top: 25px;
  left: 28px;
  font-size: 27px;
}
#foot #foot_col2 #group_photo {
  position: absolute;
  top: 29px;
  left: 114px;
}
#foot #foot_col2 #group_name {
  position: absolute;
  top: 27px;
  left: 236px;
  font-size: 22px;
}
#foot #foot_col2 #group_description {
  position: absolute;
  top: 63px;
  left: 238px;
  height: 65px;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#foot #foot_col2 .legend-box {
  width: 113px;
  height: 60px;
  position: absolute;
  bottom: 22px;
  left: 13px;
  border: 1px solid #353943;
  border-radius: 14px;
  padding-left: 15px;
}
#foot #foot_col2 #detail_container_left {
  height: 208px;
  width: 299px;
  position: absolute;
  top: 175px;
  left: 97px;
}
#foot #foot_col2 .row .col-7 div, #foot #foot_col2 .row .col-7 span:first-child {
  padding-left: 16px;
}
#foot #foot_col2 #detail_container_right {
  height: 215px;
  width: 299px;
  position: absolute;
  top: 174px;
  right: 3px;
  overflow: hidden;
}
#foot #foot_col2 #detail_container_right > div {
  margin-bottom: 15px;
}
#foot #foot_col3 {
  border: 2px solid #1d559a;
  border-radius: 3px;
  width: 1374px;
  position: relative;
  color: white;
}
#foot #foot_col3 #foot_col3_header {
  position: absolute;
  width: 44px;
  top: 25px;
  left: 28px;
  font-size: 27px;
}
#foot #foot_col3 #foot_col3_photo_container {
  position: absolute;
  top: 15px;
  left: 110px;
  height: 383px;
  width: 221px;
  color: #e9e9e9;
}
#foot #foot_col3 #foot_col3_photo_container .name {
  font-size: 27px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}
#foot #foot_col3 #foot_col3_photo_container .info1 {
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}
#foot #foot_col3 #foot_col3_photo_container .info2 {
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}
#foot #foot_col3 #foot_col3_photo_container .btn {
  width: 102px;
  height: 30px;
  margin-right: 10px;
}
#foot #foot_col3 #splitter {
  position: absolute;
  left: 763px;
  top: 10px;
}
#foot #foot_col3 #tree_blue {
  position: absolute;
  bottom: 10px;
  left: 386px;
}
#foot #foot_col3 #tree_green {
  position: absolute;
  bottom: 10px;
  left: 958px;
}
#foot #foot_col3 #tree_purple_label_1 {
  position: absolute;
  top: 147px;
  left: 361px;
}
#foot #foot_col3 #tree_purple_label_2 {
  position: absolute;
  top: 88px;
  left: 404px;
}
#foot #foot_col3 #tree_purple_label_3 {
  position: absolute;
  top: 27px;
  left: 544px;
}
#foot #foot_col3 #tree_purple_label_4 {
  position: absolute;
  top: 50px;
  left: 655px;
}
#foot #foot_col3 #tree_purple_label_5 {
  position: absolute;
  top: 120px;
  left: 724px;
}
#foot #foot_col3 #tree_purple_label_6 {
  position: absolute;
  top: 136px;
  left: 445px;
}
#foot #foot_col3 #tree_purple_label_7 {
  position: absolute;
  top: 93px;
  left: 514px;
}
#foot #foot_col3 #tree_purple_label_8 {
  position: absolute;
  top: 134px;
  left: 560px;
}
#foot #foot_col3 #tree_purple_label_9 {
  position: absolute;
  top: 152px;
  left: 634px;
}
#foot #foot_col3 #tree_purple_label_10 {
  position: absolute;
  top: 171px;
  left: 694px;
}
#foot #foot_col3 #tree_blue_label_1 {
  position: absolute;
  top: 50px;
  right: 38px;
}
#foot #foot_col3 #tree_blue_label_2 {
  position: absolute;
  top: 87px;
  right: 94px;
}
#foot #foot_col3 #tree_blue_label_3 {
  position: absolute;
  top: 145px;
  right: 33px;
}
#foot #foot_col3 #tree_blue_label_4 {
  position: absolute;
  top: 63px;
  right: 305px;
}
#foot #foot_col3 #tree_blue_label_5 {
  position: absolute;
  top: 63px;
  right: 367px;
}
#foot #foot_col3 #tree_blue_label_6 {
  position: absolute;
  top: 156px;
  right: 378px;
}
#foot #foot_col3 #tree_orange_label {
  position: absolute;
  top: 41px;
  right: 201px;
  transform: scale(1.5);
}
#foot #foot_col3 #tree_grey_label_1 {
  position: absolute;
  bottom: 19px;
  left: 697px;
}
#foot #foot_col3 #tree_grey_label_2 {
  position: absolute;
  bottom: 19px;
  left: 760px;
}
#foot #foot_col3 #tree_green_label_1 {
  position: absolute;
  bottom: 24px;
  right: 370px;
}
#foot #foot_col3 #tree_green_label_2 {
  position: absolute;
  bottom: 25px;
  right: 431px;
}
#foot #foot_col3 #label_de {
  position: absolute;
  bottom: 18px;
  left: 550px;
  font-size: 35px;
}
#foot #foot_col3 #label_cai {
  position: absolute;
  bottom: 18px;
  right: 214px;
  font-size: 35px;
}
#foot #foot_col3 #label_buzu {
  color: #a4a5a8;
  position: absolute;
  bottom: 83px;
  left: 739px;
  font-size: 20px;
}
#foot #foot_col3 #label_shiyigangwei {
  color: #a4a5a8;
  position: absolute;
  bottom: 96px;
  right: 387px;
  font-size: 20px;
}
#foot #foot_col4 {
  border: 2px solid #1d559a;
  border-radius: 3px;
  width: 1184px;
  position: relative;
  color: white;
}
#foot #foot_col4 #foot_col4_header {
  position: absolute;
  width: 44px;
  top: 25px;
  left: 35px;
  font-size: 27px;
}
#foot #foot_col4 .photo-col {
  width: 106px;
  height: 219px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
#foot #foot_col4 .photo-col:hover {
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.5));
}
#foot #foot_col4 .photo-col .photo-col-name {
  font-size: 21px;
}
#foot #foot_col4 .photo-col .btn {
  width: 100%;
}
#foot #foot_col4 #foot_col4_job {
  position: absolute;
  left: 487px;
  top: 71px;
  width: 300px;
  font-size: large;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  transition: all 0.2s;
}
#foot #foot_col4 #foot_col4_job:hover {
  background: white;
}
#foot #foot_col4 #photo_col_left {
  top: 30px;
  left: 117px;
}
#foot #foot_col4 #photo_col_right {
  top: 30px;
  right: 24px;
}
#foot #foot_col4 #total_bar_left {
  position: absolute;
  top: 32px;
  left: 229px;
  text-align: right;
}
#foot #foot_col4 #total_bar_right {
  position: absolute;
  top: 32px;
  right: 137px;
}
#foot #foot_col4 #img_pk {
  position: absolute;
  top: 23px;
  left: 603px;
}
#foot #foot_col4 #foot_col_mid_container {
  position: absolute;
  display: flex;
  width: 812px;
  height: 285px;
  top: 110px;
  left: 230px;
  flex-flow: column;
  justify-content: space-between;
}
#foot #foot_col4 #foot_col_mid_container .blue-bar {
  width: 340px;
}
#foot #foot_col4 #foot_col_mid_container .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#foot #foot_col4 #foot_col_mid_container .item .label {
  padding: 3px 5px;
  transition: all 0.2s;
}
#foot #foot_col4 #foot_col_mid_container .item .label:hover {
  filter: drop-shadow(0 0 15px #ffffff);
  background: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}
#foot #foot_col4 #foot_col_mid_container .col-left {
  width: 353px;
  text-align: right;
}
#foot #foot_col4 #foot_col_mid_container .col-right {
  width: 353px;
}
#foot #foot_col4 .person-detail {
  color: #b1b1b2;
  width: 360px;
}
#foot #foot_col4 #person_detail_left {
  position: absolute;
  top: 56px;
  left: 230px;
}
#foot #foot_col4 #person_detail_right {
  position: absolute;
  top: 56px;
  right: 138px;
  text-align: right;
}

.photo {
  overflow: hidden;
  height: 100px;
  width: 81px;
  border: 2px solid white;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 5px 5px 23px #111111;
}
.photo.photo-large {
  width: 163px;
  height: 212px;
}
.photo.photo-square {
  height: 100px;
  width: 100px;
}

.photo img {
  width: 100%;
}

.photo img.fit-height {
  width: auto;
  height: 100%;
}

.info-box {
  background: url("../images/info-box.png");
  width: 530px;
  height: 143px;
  margin-bottom: 20px;
  position: absolute;
  cursor: pointer;
}
.info-box.active, .info-box:hover {
  filter: drop-shadow(0 0 20px #537aa7) brightness(1.2);
}
.info-box.float {
  opacity: 0.5;
  position: fixed;
  z-index: 100;
  pointer-events: none;
  transition: none;
}
.info-box .photo {
  top: 22px;
  left: 30px;
  position: absolute;
}
.info-box .name {
  position: absolute;
  font-size: 28px;
  top: 20px;
  left: 139px;
  width: 128px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info-box .info {
  position: absolute;
  top: 31px;
  left: 300px;
  font-size: 19px;
  height: 25px;
  width: 197px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info-box .job {
  position: absolute;
  top: 61px;
  left: 140px;
  font-size: 19px;
  height: 25px;
  width: 342px;
}
.info-box .close {
  position: absolute;
  top: 4px;
  right: 13px;
  font-size: 33px;
  cursor: pointer;
  transition: all 0.5s;
}
.info-box .close:hover {
  transform: rotate(90deg);
}
.info-box .last-row {
  position: absolute;
  width: 358px;
  height: 33px;
  top: 94px;
  left: 137px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar.horizontal {
  width: 100%;
  height: 10px;
  margin-bottom: 20px;
}
.title-bar.vertical {
  height: 100%;
  width: 10px;
  margin-right: 20px;
}
.title-bar.orange {
  background: #f39800;
  filter: drop-shadow(0 0 10px #f39800);
}
.title-bar.red {
  background: #d81e06;
  filter: drop-shadow(0 0 10px #d81e06);
}
.title-bar.blue {
  background: #1fb3ff;
  filter: drop-shadow(0 0 10px #1fb3ff);
}
.title-bar.green {
  background: #42ca83;
  filter: drop-shadow(0 0 10px #42ca83);
}

.table-container .table-row {
  margin-bottom: 3.5px;
  display: flex;
  justify-content: space-between;
}

.cell {
  width: 63px;
  height: 24px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  text-align: center;
  font-size: 13px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 4px solid transparent;
}
.cell.active, .cell:hover {
  border: 1px solid #fff;
  filter: drop-shadow(0 0 10px #fff);
}
.cell.title-col, .cell.title-row {
  cursor: default;
}
.cell.title-col:hover, .cell.title-row:hover {
  border: 0;
}
.cell.block {
  width: 100%;
}
.cell.expanded {
  width: 103px;
}
.cell.thin {
  width: 46px;
}
.cell.thin.title-row, .cell.thin.empty {
  width: 60px;
}
.cell.disabled, .cell.empty {
  background: transparent;
  cursor: default;
}
.cell.disabled:hover, .cell.empty:hover {
  border: none;
  filter: none;
}
.cell.empty {
  background: none;
}
.cell.title-col {
  background: rgba(165, 49, 136, 0.7);
}
.cell.title-row {
  background: rgba(14, 137, 203, 0.7);
}
.cell.changed {
  background: #43baff6b !important;
}
.cell.important {
  background: #7f14cac9 !important;
}
.cell.active-a, .cell.active-b {
  overflow: hidden;
}
.cell.active-a:before, .cell.active-b:before {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 4px;
  height: 15px;
  background: #ff3041;
  top: 4.5px;
  left: 3px;
  border-radius: 1px;
  margin-right: 2px;
}
.cell.active-b:before {
  background: #0086e2;
}
.cell.active-c:after, .cell.active-d:after {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  content: " ";
  width: 10px;
  height: 10px;
  border-top: 10px solid transparent;
  border-right: 10px solid #FF43AD;
  border-bottom: 0;
  border-left: 0;
}
.cell.active-d:after {
  top: 0;
  border-top: 10px solid #43BAFF;
  border-right: 0;
  border-bottom: 0;
  border-left: 10px solid transparent;
}

.beauty-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.beauty-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.beauty-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #5F9AFC;
}
.beauty-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.btn {
  width: 151px;
  height: 30px;
  border-radius: 3px;
  color: white;
  background: #222;
  border: 1px solid black;
}
.btn.block {
  display: block;
  width: 100%;
}
.btn[disabled] {
  background: linear-gradient(#aaaaaa, #333333) !important;
}
.btn.blue {
  background: linear-gradient(#2a76ef, #081f3c);
}
.btn.blue:hover {
  background: linear-gradient(#5995f3, #0e3669);
}
.btn.blue:active {
  background: linear-gradient(#081f3c, #2a76ef);
}
.btn.light-blue {
  background: linear-gradient(#57ade9, #09203c);
}
.btn.light-blue:hover {
  background: linear-gradient(#84c3ef, #103868);
}
.btn.light-blue:active {
  background: linear-gradient(#09203c, #57ade9);
}
.btn.shine-blue {
  background: linear-gradient(#29b8ed, #015690);
}
.btn.shine-blue:hover {
  background: linear-gradient(#58c8f1, #0174c3);
}
.btn.shine-blue:active {
  background: linear-gradient(#015690, #29b8ed);
}
.btn.orange {
  background: linear-gradient(#ff7200, #4f1700);
}
.btn.orange:hover {
  background: linear-gradient(#ff8e33, #822600);
}
.btn.orange:active {
  background: linear-gradient(#4f1700, #ff7200);
}
.btn.green {
  background: linear-gradient(#3ba50c, #0a2400);
}
.btn.green:hover {
  background: linear-gradient(#4cd50f, #185700);
}
.btn.green:active {
  background: linear-gradient(#0a2400, #3ba50c);
}
.btn.large {
  width: 151px;
  height: 42px;
  font-size: 18px;
  border-radius: 5px;
}
.btn i {
  margin-right: 0.5em;
}

.percent-bar {
  display: inline-block;
  width: 132px;
  height: 21px;
  vertical-align: middle;
  border: 1px solid #0d90cf;
  border-radius: 3px;
  background: linear-gradient(#016ab3, #27b3ea);
}
.percent-bar .thumb {
  text-align: right;
  padding-right: 8px;
  width: 50%;
  height: 100%;
  border-radius: 3px;
  background: linear-gradient(#2cd200, #0b3e00);
  line-height: 17px;
}

.total-bar {
  display: block;
  height: 20px;
  width: 360px;
  border: 1px solid #2c333d;
}
.total-bar .total-bar-thumb {
  display: inline-block;
  height: 100%;
  text-align: right;
  padding: 0 10px;
  background: linear-gradient(90deg, #ffde00, #40b500);
  transition: all 0.5s;
}
.total-bar.total-bar-revert {
  text-align: right;
}
.total-bar.total-bar-revert .total-bar-thumb {
  text-align: left;
  background: linear-gradient(90deg, #40b500, #ffde00);
}

.blue-bar {
  width: 100%;
  height: 8px;
  display: flex;
}
.blue-bar .blue-bar-thumb {
  height: 100%;
  background: linear-gradient(90deg, #003479, #66b1ee);
}
.blue-bar.blue-bar-revert {
  justify-content: flex-end;
}
.blue-bar.blue-bar-revert .blue-bar-thumb {
  background: linear-gradient(90deg, #66b1ee, #003479);
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 5px;
}
.dot.yellow {
  background: #fff100;
}
.dot.orange {
  background: #ff6000;
}
.dot.hide {
  background: transparent !important;
}

.badge {
  background: #353740;
  padding: 3px 13px;
  border-radius: 8px;
  margin: 3px 3px;
  display: inline-block;
}
.badge.white {
  background: transparent;
  border: 1px solid white;
}

.tree-label {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.tree-label, .tree-label:before {
  transition: all 0.5s;
}
.tree-label.purple {
  background: #7f14ca;
}
.tree-label.blue {
  background: #007fcf;
}
.tree-label.blue:before {
  border-color: #015791;
}
.tree-label.green {
  background: #278000;
}
.tree-label.green:before {
  border-color: #1a5605;
}
.tree-label.orange {
  background: #cf5300;
}
.tree-label.orange:before {
  border-color: #893906;
}
.tree-label.grey {
  background: #1d1d1d;
}
.tree-label.grey:before {
  border-color: #54565b;
}
.tree-label:before {
  content: "";
  display: block;
  position: absolute;
  height: 66px;
  width: 66px;
  border: 4px solid #7f14ca;
  border-radius: 66px;
}
.tree-label:hover:before {
  filter: drop-shadow(0 0 10px #ffffff);
}
.tree-label .tree-label-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  height: 40px;
  width: 40px;
}

.pop-box {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.7);
  filter: drop-shadow(0 0 15px #67aaff);
  color: white;
  position: fixed;
}
.pop-box .content {
  overflow-y: scroll;
  max-width: 700px;
  max-height: 550px;
  margin-bottom: 1.5rem;
}
.pop-box.no-close {
  padding: 0.5rem 0.7rem 0.7rem 0.7rem;
}
.pop-box.no-close .content {
  margin-bottom: 0;
}
.pop-box i.fa-close {
  font-size: 20pt;
  position: absolute;
  right: 4px;
  top: 4px;
}
.pop-box i.fa-close:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 5px #ffffff);
}
.pop-box table td {
  text-align: center;
  border: 1px solid white;
  padding: 0.1rem 1rem;
  min-width: 100px;
}

canvas#line_layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: all 0.5s;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  display: none;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em;
  left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9 !important;
}

.input {
  border-radius: 3px;
  border: 1px solid #25ade3ba;
  background: transparent;
  box-shadow: 0 0 16px #25ade3;
  color: white;
  padding: 0.5rem 0.8rem;
  margin: 10px;
  display: inline-block;
}

.file-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: larger;
}
.file-list li {
  padding: 0 0.5rem;
  cursor: pointer;
}
.file-list li.active, .file-list li.info-box:hover, .file-list li.cell:hover, .file-list li:hover {
  background: #0b6293;
}

.ref-list {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
}
.ref-list li {
  margin-bottom: 7px;
}
.ref-list li:before {
  content: " * ";
}

/*# sourceMappingURL=index.css.map */
